      * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.fundo {
    background-image: linear-gradient(45deg, black, blue);
    height: 100vh;
    color: ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.calculadora {
    position: absolute;
    background-color: black;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    border-radius: 15px;
    padding: 15px;
    width: 280px; 
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
}

.botao:hover {
    background-color: black;
}

.botao:active {
    background-color: red;
    transition: background-color 0.3s ease;
}

#resultado {
    width: 100%;
    background-color: dimgray;
    height: 30px;
    margin: 5px 0;
    font-size: 25px;
    color: floralwhite;
    text-align: right;
    padding: 5px;
}

#powerBtn {
    background-color: green;
    width: 80px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    margin-bottom: 5px;
}

#powerBtn.off {
    background-color: red;
}

@media (max-width: 400px) {
    .calculadora {
        width: 95vw; 
        padding: 10px;
    }
    
    .botao {
        width: 18vw; 
        height: 18vw;
        font-size: 5vw;
        margin: 2px;
    }
    
    #resultado {
        font-size: 7vw;
        height: 10vw;
        padding: 3px;
    }
    
    #powerBtn {
        width: 30vw;
        height: 8vw;
        font-size: 4vw;
        margin-bottom: 10px;
    }
}